*{
    margin: 0;
    padding: 0;
}
.clearfix{
    overflow: auto;
}
.bigbox{
    margin: 20px;
    background-color: #eee;
    border: 1px solid #999;
}
.teamname {
    margin:20px 0 20px 20px;
    float: left;
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #999;
}
.teamlogo{
    float: left;
    width: 80px;
    height: 80px;
    margin:20px 0 20px 20px;
    background-image: url(xiong.jpg);
    border: 1px solid #999;
}
.name{
    float: right;
    margin:20px 40px 0 0;
}
.team{
    margin:20px 160px 20px 240px;
    background-color: #ffffff;
    border: 1px solid #999;
}
.neirong{
    padding: 20px;
}
.geren{
    float: right;
    margin: 20px 20px 20px 0;
    width: 120px;
    background-color: #ffffff;
    border: 1px solid #999;
}
.logo{
    width: 80px;
    height: 80px;
    background-image: url(xiong.jpg);
    margin: 20px;
    border: 1px solid #999;
}